
.wrapper {
	padding: 10px;
}

.button {
	margin-top: 10px;
	float: right;
	margin: 10px;
	width: 70px;
	height: 30px;
	background-color: lightgray;
	border: 1px solid black;
    border-radius: 5px;
	cursor: pointer;
}

.main {
	text-align: center;
	margin: 0 auto;
	background-color: lightgray;
	height: 250px;
	width: 400px;
	border: 1px solid black;
}

.table-wrapper {
	text-align: center;
	margin: 0 auto;
	width: 400px;
}

#table {
	border: 1px solid black;
	border-collapse: collapse;
}

.delete {
	cursor: pointer;
	margin: 10px;
	width: 70px;
	height: 30px;
	background-color: lightgray;
	border: 1px solid black;
    border-radius: 5px;
	
}

.orderBy {
	display: inline-block;
}

h3 {
	float: left;
}

.tableHead th {
    padding: 10px;
}

.sorting {
	float: right;
	margin-top: 5px;
}

.main-heading {
	text-align: center;
}

input {
	width: 200px;
}
select {
	width: 200px;
}

.label {
	margin-top: 20px;
	font-weight: bold;
	margin: 15px;
}

table {
	background-color: lightgray;
}
